body{
    background-color: aquamarine;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.game {
    height: 60vmin;
    width: 60vmin ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 8vmin;
    border: none;
    background-color: bisque;
    color: rgb(8, 34, 112);
}
#rest {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#newg {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg {
    color: white;
    font-size: 5vmin;
}
.msg-container {
    height: 30vmin;
}
.hidden {
    display: none;
}
/* Sparkle effect styles */
#sparkle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* To avoid interfering with game clicks */
    z-index: 100;
  }
  
  .sparkle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: yellow;
    border-radius: 50%;
    animation: sparkle-animation 0.6s ease-out;
  }
